/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}
 * @created     : {{TIMESTAMP}}
 */

#ifndef __{{MACRO_GUARD}}__
#define __{{MACRO_GUARD}}__

{{CURSOR}}

#endif /* __{{MACRO_GUARD}}__ */
