window {
margin: 0px;
border-radius: 15px;
background-color: #383C4A;
font-family: monospace;
font-size: 12px;
}

#inner-box {
margin: 5px;
border: none;
background-color: #383C4A;
}

#outer-box {
margin: 5px;
border: none;
background-color: #383C4A;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: white;
} 

#entry:selected {
	background-color: #5291e2;
	font-weight: normal;
}

#text:selected {
	background-color: #5291e2;
	font-weight: normal;
}

#input {
width:0px;
height: 0px;
margin: 0px;
border: none;
color: #c0caf5;
background-color: #383C4A;

}

#input image {
	color: rgba(0,0,0,0);
}
